<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.ChildMapper">
<!--    <resultMap id="ParentDAO" type="ParentDAO">-->
<!--        <result column="ID" property="id" />-->
<!--        <result column="PARENT_NAME" property="parentName" />-->
<!--        <result column="PARENT_AGE" property="parentAge" />-->
<!--    </resultMap>-->
    <resultMap id="ChildDAO" type="ChildDAO">
<!--        <result column="ID" property="id" />-->
<!--        <result column="CHILD_NAME" property="childName" />-->
<!--        <result column="CHILD_AGE" property="childAge" />-->
        <collection property="parentDAO" resultMap="ParentDAO"></collection>
    </resultMap>

    <select id="getAll" resultType="ChildDAO">
        select *
        from parent inner join child
        on parent.id = child.parent_id
    </select>
</mapper>